<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <sessionState timeout="10080" cookieless="UseCookies" cookieName="klick-zen-session" />
    <customErrors mode="RemoteOnly" defaultRedirect="/_errors/error.html">
      <error redirect="/_errors/filenotfound.aspx" statusCode="404" />
      <error redirect="/_errors/error.aspx" statusCode="403" />
      <error redirect="/_errors/error.aspx" statusCode="500" />
      <error redirect="/_errors/unauthorized.aspx" statusCode="401" />
    </customErrors>
    <httpCookies requireSSL="true" httpOnlyCookies="false" />
    <compilation debug="false" targetFramework="4.5">
      <codeSubDirectories>
        <add directoryName="VB_Code" />
        <add directoryName="CS_Code" />
      </codeSubDirectories>
    </compilation>
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" enableVersionHeader="false" requestPathInvalidCharacters="&lt;,&gt;,*,%,&amp;,\,?" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="P3P" value="CURa ADMa DEVa TAIi PSAi PSDi IVAi IVDi CONi HISa TELi OUR IND DSP CAO COR" />
        <add name="Strict-Transport-Security" value="max-age=86400; includeSubDomains"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>